div {
    /* Si display block ou inline-block */
    /* div est display: block par défaut */
    width: 150px;
    height: 150px;
    background-color: aqua;

    /*Marges internes */
    padding: 30px;

    /* Bordure */
    border: 40px solid green;

    /* Marges externes */
    margin: 60px;

    /* Outline */
    /* Ne prend pas de place physique,
    sert à mettre en valeur un élément au focus */
    outline: 20px solid red;
}

.box {
    box-sizing: border-box;
}