*, *::before, *::after {
    box-sizing: border-box;
}
html, body { margin: 0; padding: 0; width: 100%; min-height: 100%; }

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #8ecae6;
    padding: 10px 20px;
}
.header__logo {
    margin-bottom: 10px;
}

@media screen and (min-width: 900px) {
    body {
        display: grid;
        grid-template-rows: 60px max-content 250px;
        grid-template-columns: 200px 1fr;
    }
    .header {
        grid-column: 1 / -1;

        flex-direction: row;
        justify-content: space-between;
    }
    .header__logo {
        margin-bottom: 0;
    }
    .main {
        order: 1;
    }
    .footer {
        order: 1;
        grid-column: 1 / -1;
    }
}
