*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
}

.logo-link {
    display: block;
    text-align: center;
}

.header--nav {
    display: block;
    text-align: center;
}

.header--lang {
    display: block;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
}
.picture,
.picture > img {
    width: 100%;
    height: auto;
    max-height: 100%;
}
.article {
    padding: 10px;
}
.gallery {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.gallery--item-1 {
    grid-column: 1;
    grid-row: 1 / -1;
}

.gallery picture,
.gallery picture > img {
    object-fit: cover;
    height: 100%;
}
.section-2--article {
    display: flex;
    flex-direction: column;
}
.boutton {
    display: block;
    padding: 7px 12px;
    background-color: black;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.section-2--article .boutton {
    align-self: flex-end;
    margin-right: 20px;
}
.footer {
    padding: 20px 20px 50px;
    margin-top: 40px;
    background-color: black;
    color: white;
}

.footer a,
.footer a:hover,
.footer a:visited {
    color: white;
    text-decoration: none;
}

.footer--logo {
    display: block;
    margin: auto;
}
.footer--links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}
.legals > * {
    display: block;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 10px 30px;
    }
    .logo-link,
    .header--nav {
        display: inline-block;
    }
    .header--left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .header--nav{
        margin-left: 20px;
    }
    .section-1 {
        position: relative;
        min-height: 350px;
    }

    .section-1 .picture,
    .section-1 .picture > img {
        object-fit: cover;
        height: 100%;
    }

    .section-1--article {
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 50%;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        font-weight: 500;
        padding: 15px;
    }

    .section-2 {
        display: flex;
        flex-direction: row-reverse;
        flex: 0 0  50%;
    }

    .gallery {
        min-width: 50%;
    }
    .footer {
        margin-top: 0;
    }
    .footer--logo {
        margin-top: 20px;
    }

    .footer--container {
        max-width: 900px;
        width: 100%;
        margin: auto;
    }

    .footer--start {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer--links {
        width: 600px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .legals {
        padding-top: 20px;
        text-align: center;
    }
    .legals > * {
        display: initial;
    }
}
