*, *::before, *::after { box-sizing: border-box; }
.game-board {
    display: grid;
    width: 150px;
    height: 150px;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
}
.game-cell {
    border: 1px solid black;
    cursor: pointer;
}
.game-cell[data-player="1"] {
    background-color: aqua; cursor: not-allowed;
}
.game-cell[data-player="2"] {
    background-color: bisque; cursor: not-allowed;
}