@model IEnumerable<MBaumann.IUT.Forum.Ui.Models.Categorie>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <a asp-controller="Categorie" asp-action="Afficher" asp-route-cle="@item.Cle">
                        @Html.DisplayFor(modelItem => item.Nom)
                    </a>
                </td>
            </tr>
            <partial name="_TopicListPartial" model="item" />
        }
    </tbody>
</table>
